@model  IList<LSService.VRequestClass>
@{
    Layout = null;
}
<div class="col-sm-12">
    <table id="CurRequestTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr class="HT">
                <th width="10%">عمليات</th>
                <th width="10%"> شماره درخواست</th>
                <th width="12%"> شماره فنی</th>
                <th width="18%">شرح لاتین</th>
                <th width="8%">تعداد</th>
                <th width="8%">تعداد پيش فاكتور</th>
                <th width="10%">موجودي</th>
                <th width="8%">رزو شده</th>
                <th width="8%">بلاك شده</th>
                <th width="8%">ضايعات</th>

                @*<th width="10%">تعداد تاييد شده</th>*@
                <th width="10%">تاريخ درخواست</th>
                <th width="10%">ساعت درخواست</th>
                <th width="10%">ايجاد كننده</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var m in Model)
                {
            <tr>
                <td>
                    @if (m.RequestDetailIsActive == 1)
                    {
                        <div class="col-sm-6" id="CurEditDiv">
                            <i class="fa fa-edit" onclick="EditCurBtn_Click('@m.RequestNo', '@m.TechnicalCode', '@m.ItemName', '@m.Qty', '@m.RequestTitle', @m.InvoiceQty );" style="font-size: 12pt;cursor:pointer" title="ویرایش"></i>
                        </div>
                        <div class="col-sm-6" id="CurDeleteDiv">
                            <i class="fa fa-trash" style="color:red;font-size:12pt;cursor:pointer" title="حذف" onclick="Delete_Click('@m.RequestId', '@m.TechnicalCode', @m.InvoiceQty);"></i>
                        </div>
                    }
                </td>
                <td align="center">@m.RequestNo</td>
                <td align="center">@m.TechnicalCode</td>
                <td>@m.ItemName</td>
                <td align="center">@m.Qty</td>
                <td align="center">@m.InvoiceQty</td>
                <td align="center">@m.StockQty</td>
                <td align="center">@m.ReserveQty</td>
                <td align="center">@m.BlockedQty</td>
                <td align="center">@m.ScrapeQty</td>
                <td align="center">@m.RequestDate</td>
                <td align="center">@m.RequestTime</td>
                <td align="center">@m.EntryPersonalId</td>
            </tr>
                }
            </tbody>

    </table>
</div>
