@using LSService
@model IList<CatCarType>
@{
    Layout = null;
    int ind = 1;
}

<div class="row col-sm-12">
    <div class="col-sm-2">
        شماره فنی
    </div>
    <div class="col-sm-2">@Model[0].TechnicalCode</div>

</div>
<div class="row col-sm-12">
    <div class="col-sm-2">
        شرح لاتین
    </div>
    <div class="col-sm-4">@Model[0].ItemName</div>
    <div class="col-sm-2">
        شرح فارسی
    </div>
    <div class="col-sm-4">@Model[0].PersianName</div>
</div>

    @*<div class="col-sm-12">
        <table id="CatTable" class="table table-striped table-bordered nowrap" style="width:100%">
            <thead>
                <tr class="HT">
                    <th width="14%">عمليات</th>
                    <th width="13%"> شماره فنی</th>
                    <th width="13%">PNC</th>
                    <th width="30%">شرح لاتین</th>
                    <th width="30%">شرح فارسی</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr id="NewItems">
                        <td>
                            <i class="fa fa-edit" onclick="EditBtn_Click('@m.TechnicalCode');" style="font-size: 12pt;cursor:pointer" title="ویرایش"></i>
                            &nbsp;<i class="fa fa-trash" style="color:red;font-size:12pt;cursor:pointer" title="حذف"></i>
                            &nbsp;<img src="~/Content/Images/BOM.png" width="10px" title="BOM" onclick="BOM_Click('@m.TechnicalCode');" style="cursor:pointer" />
                        </td>
                        <td align="center">@m.TechnicalCode</td>
                        <td>@m.ItemName</td>
                        <td>@m.PersianName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@
    <script>
        $(document).ready(function () {
            try {

                var catTable = $('#CatTable').DataTable({ "responsive": true, "paging": false, dom: 'Bfrtip', buttons: ['excel', 'print'] });
            } catch (ex) {
                alert(ex.toString());
            }
        });


    </script>
