@using LSService
@model IList<PackingListAndOrder>
@{
    Layout = null;
    int ind = 1;
}
<div class="col-sm-12">
    <table id="PackingListTable" class="table table-striped table-bordered nowrap" style="width:100%">
        <thead>
        <tr class="HT">
            <th style="width:5%">Row No</th>
            <th style="width:8%">Order No</th>
            <th style="width:10%">Order Technical Code</th>
            <th style="width:15%">Order Item Name</th>
            <th style="width:8%;">Order Quantity</th>
            <th style="width:8%;">Order Price</th>
            <th style="width:8%;">Net Weight</th>
            <th style="width:8%;">Gross Weight</th>
            <th style="width:8%;">Order Date</th>
            <th style="width:8%;">Tariff</th>
            
            
            <th style="width:8%">Packlist No</th>
            <th style="width:8%;">Packinglist Invoice</th>
            <th style="width:8%;">Packinglist Case No</th>
            <th style="width:10%">Packinglist Technical Code</th>
            <th style="width:15%">Packinglist Item Name</th>
            <th style="width:8%;">Ship Quantity</th>
            <th style="width:8%;">Packinglist price</th>
            <th style="width:8%;">Packinglist H/s Code</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@ind</td>
                <td>@m.OrderNo</td>
                <td style="text-align:center">@m.OrderTechnicalCode</td>
                <td>@m.OrderItemName</td>
                <td>@m.OrderQuantity</td>
                <td style="text-align:center">@m.OrderPrice</td>
                <td style="text-align:center">@m.OrderNetWeight</td>
                <td style="text-align:center">@m.OrderGrossWeight</td>
                <td style="text-align:center">@m.OrderEntryDataDate</td>
                <td style="text-align:center">@m.OrderTariff</td>

                <td style="text-align:center">@m.PackingListNo</td>
                <td style="text-align:center">@m.InvoiceNo</td>
                <td style="text-align:center">@m.CaseNo</td>
                <td style="text-align:center">@m.PackingListTechnicalCode</td>
                <td style="text-align:center">@m.PackingListItemName</td>
                <td style="text-align:center">@m.ShipQty</td>
                <td style="text-align:center">@m.PackingListUnitPrice</td>
                <td style="text-align:center">@m.HSCode</td>

            </tr>
            ind++;
        }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        try {

            //if ($("#ShowTitle").val() == "0") {
            //    var orderTable = $('#OrderTable').DataTable({ "responsive": true, "paging": false });
            //    $('#OrderTable tbody').css("cursor", "pointer");

            //    $('#OrderTable tbody').on('click', 'tr', function () {
            //        var idx = orderTable.row(this).index();
            //        $(this).toggleClass('selected');
            //        var flagNewData = true;
            //        var newData = orderTable.row(this).data();
            //        //empTable.rows().every(function () {
            //        //    var curData = this.data();

            //        //    if (newData[0] == curData[1]) {
            //        //        flagNewData = false;
            //        //    }
            //        //});
            //        $(orderTable.cell({ row: idx, column: 0 }).node()).css("background-color", "#b3ff66");
            //        if ($("#CurInd").length != 0) {
            //            $("#TechnicalCodeInOrder" + $("#CurInd").val().toString()).val(newData[2]);
            //        } else {
            //            $("#OrderNo").val(newData[1]);
            //        }
            //        //CloseModal();
            //        ////alert($(employeeTable.cell({ row: 1, column: 2 }).node()).html("Data to be displayed"));
            //        //if (flagNewData) {
            //        //    var selectedValue = orderTable.row(this).data();

            //        //    var appendValue = [];
            //        //    appendValue[0] = "<a href='#' onclick='DeleteEmpTableRow(" + selectedValue[0].toString() + ");'>حذف</a>";
            //        //    for (ind = 0; ind < selectedValue.length; ind++) {
            //        //        appendValue[ind + 1] = selectedValue[ind];
            //        //    }
            //        //    empTable.row.add(appendValue).draw();
            //        //}
            //    });
            //} else {
            var orderTable = $('#PackingListTable').DataTable({ "responsive": true, "paging": false, dom: 'Bfrtip', buttons: ['excel', 'print'] });

            //}
        } catch (ex) {
            alert(ex.toString());
        }
    });
</script>
