
@model IList<LSService.VInvoiceClass>
@{
    Layout = null;
    int ind = 1;
}
<div class="col-sm-12" style="padding-top:20px">
    <table id="CurRequestTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr class="HT">
                <th width="10%">
                    صدور حواله
                </th>
                <th width="10%"> نام مشتري</th>
                <th width="30%"> عنوان پيش فاكتور</th>
                <th width="15%"> شماره پيش فاكتور</th>
                <th width="15%"> شماره درخواست</th>
                <th width="10%">تاريخ ايجاد پیش فاکتور</th>
                <th width="10%"> ساعت ايجاد پیش فاکتور</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
            <tr>
                <td align="center">                    
                    <label onclick="PrintDraft(@m.InvoiceNo)" style="cursor:pointer;" class="btn btn-info">صدور حواله</label>
                </td>
                <td align="center" id="CustomerName-@ind">@m.CustomerName @Html.Hidden("InvoiceDetailId-" + ind.ToString(), m.InvoiceDetailId)</td>
                <td align="center">@m.InvoiceTitle</td>
                <td align="center" id="RequestNo-@ind">@m.InvoiceNo</td>
                <td align="center" id="RequestNo-@ind">@m.RequestNo</td>
                <td align="center">@m.InvoiceDate</td>
                <td align="center">@m.InvoiceTime</td>
            </tr>

                ind++;
            }
        </tbody>

    </table>

</div>
<div>
    @Html.Hidden("NumberInvoiceRow", Model.Count)
</div>

<script>
    $(document).ready(function () {
        $('#CurRequestTable').DataTable({ "responsive": true, "paging": false });

        
    });

   
</script>
